.v1
{
    height: 70px;
    width: 100%;
    background-color: #0c0b39;
    display: flex;
    color: white;
}
.v1a
{
    height: 40px;
    width: 150px;
    background-color:#e38b00;
    margin-top: 12px;
    margin-left: 20px;
    color: white;
    text-align: center;
font-size: 18px;
padding-top: 5px;
}

.a
{
color: white;
padding-left: 80px;
font-size: 18px;
padding-right: 20px;
}

.v1b
{
    width: 500px;
    padding-top: 20px;
}
.v2
{
    height:100px ;
    width: 100%;
    display: flex;
}
.v2a
{
    height: 50px;
    width: 200px;
    margin-left: 80px;
    margin-top: 15px;
    
}

.img1
{
    height: 100%;
    width: 100%;
}
.v2b
{
    height: 100px;
    width:900px ;
    margin-left: 50px;
    
}


.v2ba
{
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    padding-top: 10px;
    color: #211f1f;
    
}

.v3
{
    height: 500px;
    width: 100%;
    display: flex;
}
.v3img
{
    height: 100%;
    width: 100%;
}
.v4
{
    height: 350px;
    width: 100%;
    display: flex;
}
.v4a
{
    height: 250px;
    width:250px ;
    
    border: 1px solid #0c0b39;
     margin-left: 55px;
     margin-top: 50px;
     text-align: center;
     font-size: x-large;
}

.v4aimg
{
    
    padding-top: 50px;
}
.v5
{
    height: 1000px;
    width: 100%;
     display: flex;

}
.v5a
{
    height: 900px;
    width: 50%;
    
}
.v5aa
{
    color:#e38b00 ;
}
.v5a1
{
    height: 900px;
  width: 80%;
  margin-left: 100px;
}
.button1
{
    height: 55px;
    width: 250px;
    background-color: #e38b00;
    border: none;
    text-align: center;
    color:  white;
    font-size: large;
}
.button1:hover
{
    height: 55px;
    width: 250px;
    background-color: #0c0b39;
    border: none;
    text-align: center;
    color:  white;
    font-size: large;

}
.button2
{
    height: 55px;
    width: 150px;
    background-color: #e38b00;
    border: none;
    text-align: center;
    color:  white;
    font-size: large;
}
.button2:hover
{
    height: 55px;
    width: 150px;
    background-color: #0c0b39;
    border: none;
    text-align: center;
    color:  white;
    font-size: large;
}
.font
{
    font-size: 19px;
     margin: 0px 0px 16px;
     text-align: justify;
}
.v5b
{
    height: 900px;
    width: 50%;
    
}
.v5ba
{
    height: 270px;
    width: 450px;
    background-color: #f8f9fa; 
    margin-top: 20px;
    margin-left: 40px;
}
.v5bimg
{
    height: 80px;
    width: 80px;
    padding-left: 20px;
    padding-top: 90px;
    display: block;
}

.v5bab
{
    height: 270px;
    width: 450px;
    background-color: #0c0b39; 
    margin-top: 20px;
    margin-left: 40px;
    color: white;
    
}
.v5bac
{
    height: 270px;
    width: 450px;
    background-color: #e38b00; 
    margin-top: 20px;
    margin-left: 40px;
    color: white;
    font-size: 19px;
    
     
}

.v5bimg1
{
    height: 100px;
    width: 70px;
    padding-left: 30px;
    padding-top: 70px;
    display: block;
}
.p{
    padding-left: 130px;
    margin-top: -110px;
    
}
.v6
{
    height: 100px;
    width: 100%;
    text-align: center;
}
.colory{
    color: #e38b00;
}

.colorb{
    color: #0c0b39;
}
.v7
{
    height: 400px;
width: 100%;
display: flex;

}
.v7a
{
    height: 300px;
    width: 300px;
    border: 1px solid #0c0b39;
    margin-top: 50px;
    margin-left: 150px;
    padding-left: 50px;

}
.v7b
{
    height: 250px;
    width: 300px;
    border: 1px solid #0c0b39;
    margin-top: 50px;
    margin-left: 30px;
    padding-left: 50px;
}

.v7c
{
    height: 300px;
    width: 300px;
    border: 1px solid #0c0b39;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 150px;
    padding-left: 50px;
}
.v7aa
{
    padding-top: 50px;
    font-size: 20px;
    
}
.v8
{
    height: 100px;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding-top: 30px;
}
.v9
{
    height: 380px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
}


.v9a
{
    height: 330px;
    width: 250px;
    border: 1px solid #0c0b39;
    margin-top: 30px;
    margin-left: 50px;

}

.iframe
{
    padding-top: 15px;
    margin-left: 5px;
}
.v10
{
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    
}
.v10a
{
    padding-left: 130px;
    
}
.v11
{
    height: 150px;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
}
.v11a
{
    color: #e38b00;
    font-size: 22px;
}
.v11b
{
    color: #0c0b39;
    font-size: 32px;
}
.v12
{
    height: 400px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
}
.v12a
{
    height: 350px;
    width: 20%;
    background-color: #030749d1; 
     
}
.v12img
{
    height: 100%;
    width: 100%;
}
.v13
{
    height: 550px;
    width: 100%;
    display: flex;
}
.v13a
{
    height: 450px;
    width: 85%;

    border:  1px solid #e38b00;
    margin-left: 95px;
    margin-top: 50px;
}
.v13a1
{
    padding-left: 200px;
    padding-top: 30px;
}
.v13aimg
{
    padding-left: 220px;
    padding-top: 20px;
}
.ab{
    padding-left: 210px;
    
}
.abp
{
    
    width: 500px;
    text-align: center;
    padding-left: 20px;
    font-size: 17px;
}
.v13b
{
    height: 500px;
    width: 450px;
    background-color: #e38b00;
    margin-left: 600px;
    margin-top: -420px;
    color: white;
}
.vu
{
height: 70%;
width: 70%;
padding-left: 50px;
padding-top: 5px;
}
.v13bb
{
    font-size: 35px;
    padding-left: 50px;
    padding-top: 40px;
}
.v14
{
    height: 80px;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;

    
}
.v15
{
    height: 130px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;

}

.v15a
{
    height: 90px;
    width: 250px;
    background-color: wheat;
    float: right;
    margin-left: 5px;
}
.v14img
{
    height: 100%;
    width: 100%;
}

.v16
{
    height: 200px;
    width: 100%;
    text-align: center;

}
.v17
{
    height: 600px;
    width: 100%;
    display: flex;
    
}
.v17a
{
    height: 550px;
    width: 350px;
    background-color: #f5fbff;
     margin-left: 55px;

}
.v17a:hover
{
    height: 550px;
    width: 350px;
    background-color: #ffffff;
     margin-left: 55px;

}

.v17img
{
    height: 220px;
    width: 100%;
    text-align: justify;
}

.v17p
{
    padding-left: 10px;
}
.v17button
{
    height: 35px;
    width: 100px;
    border: 1px solid #e38b00;
    border-radius: 20px;
    background-color:#f5fbff ;
    margin-left: 20px;
    text-align: center;
    color: #e38b00;
}
.v17button :hover
{
    height: 35px;
    width: 100px;
    border: 1px solid #e38b00;
    border-radius: 20px;
    background-color:#0c0b39;
    margin-left: 20px;
    text-align: center;
    color: #e38b00;
}
.v18
{
    height: 350px;
    width: 100%;
    background-color: #0c0b39;
    display: flex;
    color: white;
    
}
.v18a
{
    height: 350px ;
    width: 250px;
    
    margin-left: 90px;
}

.v18b
{
    height: 350px ;
    width: 150px;
    
    margin-left: 10px;
    
}
.v18c
{
    height: 350px ;
    width: 330px;
    
    margin-left: 10px;
    

    
}
.v18d
{
    height: 350px ;
    width: 300px;
    
    margin-left: 10px;
    margin-right: 90px;
}
.v18ca
{
    height: 80px;
    width: 100%;

   position: relative;
   display: block;
   
   
}
.v18cb
{
    height: 200px;
    width: 100px;
    
    margin-top: 5px;
    float: right;
    margin: 5px;
    display: block;
text-align: center;

    
    
}
.v19
{
    height: 80px;
    width: 100%;
    background-color: #0c0b39;
    color: white;
    display: flex;
    
}
.v19p
{
    padding-left: 100px;
}


@media only screen and (max-width: 600px) {
    .v1 {
        height: auto;
        width: 100%;
        background-color: #0c0b39;
        padding-top: 10px;
        display: block;
        color: white;
    }

    .v1a {
        height: 40px;
        width: 150px;
        background-color: #e38b00;
        margin-top: 12px;
        margin-left: 100px;
        color: white;
        text-align: center;
        /* align-self: center; */
        /* align-items: center; */
        font-size: 18px;
        padding-top: 5px;
    }

    .v2 {
        height: auto;
        width: 100%;
        display: block;
    }
    .v2ba {
        justify-content: space-evenly;
        list-style: none;
        display: block;
        padding-top: 10px;
        color: #211f1f;
    }

    .v2b {
        height: 100px;
        width: 100%;
         margin-left: 0px;
        text-align: center;
    }
    

    .v3 {
        height: 200px;
        width: 100%;
        display: block;
    }

    .v4 {
        height: auto;
        width: 100%;
        display: block;
    }

    .v5 {
        height: auto;
        width: 100%;
        display: block;
    }

    .v5a {
        height: auto;
        width: 100%;
    }

    .v5a1 {
        height: auto;
        width: 100%;
       
    }


    .v7 {
        height: auto;
        width: 100%;
        display: block;
    }

   

    .v9 {
        height: auto;
        width: 100%;
        background-color: #f8f9fa;
        display: block;
    }

    .v10 {
        height: auto;
        width: 100%;
        background-color: #f8f9fa;
        display: block;
    }
    .v12 {
        height: auto;
        width: 100%;
        background-color: #f8f9fa;
        display: block;
    }
    .v12a {
        height: auto;
        width: 100%;
        background-color: #030749d1;
    }

    .v13 {
        height: auto;
        width: 100%;
        display: block;
    }

    .v13a {
        height: auto;
        width: 100%;
        border: 1px solid #e38b00;
        margin-left: 0px;
        margin-top: 50px;
        text-align: center;
    }

    .abp {
        width: auto;
        text-align: center;
        padding-left: 20px;
        font-size: 17px;
    }

    .ab {
        padding-left: 0px;
    }
    .v13aimg {
        padding-left: 0px;
        padding-top: 20px;
    }
    .v13a1 {
        padding-left: 0px;
        padding-top: 30px;
    }
    .v13b {
        height: auto;
        width: 100%;
        background-color: #e38b00;
        margin-left: 0px;
        margin-top: 0px;
        color: white;
    }

    .v15 {
        height: auto;
        width: 100%;
        background-color: #f8f9fa;
        display: block;
    }
    .v16 {
        height: auto;
        width: 100%;
        text-align: center;
    }
    .v17 {
        height: auto;
        width: 100%;
        display: block;
    }

    .v18 {
        height: auto;
        width: 100%;
        background-color: #0c0b39;
        display: block;
        color: white;
    }

    
element.style 

.v19 {
    height: auto;
    width: 100%;
    background-color: #0c0b39;
    color: white;
    display: block;
}

.v15a {
    height: 90px;
    width: 250px;
    background-color: wheat;
 float: none; 
    margin-left: 5px;
}
.v5a1 {
    height: auto;
    width: 100%;
     margin-left: 20px; 
}
.v5b {
    height: auto;
    width: 100%;
}

.v5ba {
    height: auto;
    width: 100%;
    background-color: #f8f9fa;
  
}


.v5bab {
    height: auto;
    width: 100%;
    background-color: #0c0b39;
    margin-top: 20px;
    margin-left: 0px;
    color: white;
}
.v5bac {
    height: auto;
    width: 100%;
    background-color: #e38b00;
    margin-top: 20px;
  margin-left: 0px;
    color: white;
    font-size: 19px;
}

.v1b {
    width: 100%;
    padding-top: 20px;
}
.p {
    padding-left: 0px;
    margin-top: 0px;
}

.v5bimg {
    height: auto;
    width: 80px;
    padding-left: 0px;
    padding-top: 0px;
    display: block;
}
.v7a {
    height: 300px;
    width: 300px;
    border: 1px solid #0c0b39;
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 20px;
}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }

.a1
{
height: 100px;
width: 100%;
text-align: center;
font-size: 20px;
}
.a2
{
height: 550px;
width: 100%;

display: flex;

}
.a2a
{
    height: 450px;
    width: 40%;
    margin-left: 120px;
    text-align: justify;
    font-size: 17px;

}
.a2b
{
    height: 450px;
    width: 40%;
    
    margin-left: 30px;
    border: 1px solid  #e38b00;
    
}
.a2ba
{
    height: 450px;
    width: 100%;
    border: 1px solid #0c0b39;
    margin-left: 5px;
    margin-top: 4px;
}
                 
.colora1y
{
    color: #e38b00;
    font-size: 60px;

}
.a2bvid
{
    height: 90%;
    width: 95%;
    padding-top: 15px;
    margin-left: 10px;

}
.a3
{
    height: 50px;
    width: 100%;
    text-align: center;
    color: #e38b00;
    font-size: 20px;
}
.a4
{
height: 450px;
width: 100%;
display: flex;

}
.a4a
{
    height: 350px;
    width: 300px;
    border:  1px solid black;
    margin-left: 150px;
    margin-top: 50px;

    font-size: 17px;
    text-align: justify;

}

.a4ap
{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

}
.a4ah
{
    padding-top: 30px;
    padding-left:30px ;
    color: #e38b00;
    font-size: 25px;
}


.a4b
{
    height: 350px;
    width: 300px;
    border:  1px solid black;
      margin-left: 30px;
      margin-top: 50px; 
      font-size: 17px;
      text-align: justify;
  
}
.a4c
{
    height: 350px;
    width: 300px;
    border:  1px solid black;
    margin-left: 30px;
    margin-top: 50px;
    font-size: 17px;
    text-align: justify;

}

.a5 
{
height: 300px;
width: 100%;
background-color: #f8f9fa;
text-align: center;

}
.a6 
{
height: 400px;
width: 100%;
background-color: #f8f9fa;
text-align: center;

}
.a6a
{
height: 250px;
width: 550px;
margin-left: 350px;
background-color: #e38b00;
color: white;
font-size: 17px;
text-align: justify;
padding-left: 40px;
}
.a7 
{
    height: 200px;
    width: 100%;
    text-align:  justify;
    font-size: 18;
}
.a8
{
    height: 300px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    
}
.a8a
{
    height: 220px;
    width: 320px;
    background-color:white;
    border-radius: 6px;
    margin-left: 80px;
    margin-top: 40px;
    display: flex;
}
.a8img
{
    height: 100px;
    width: 60px;
    border-radius: 40px;
    margin-top: 50px;
    margin-left: 20px;
    
}
.a8p
{
    padding-left: 35px;
    padding-top: 40px;
    
}
.a8pp
{
    padding-top: 160px;
    margin-left: -150px;
    color:  gray;
}



.c1
{
height: 200px;
width: 100%;
text-align: center;
}

.c2
{
    height: 800px;
width: 100%;
position: absolute;

}
.c2a
{
    height: 800px;
width: 57%;
border: 1px solid #e38b00;
margin-left: 110px;
}
.c2b
{
    height: 800px;
width: 100%;
border: 1px solid #0c0b39;
margin-left: 5px;
margin-top: 4px;


}
.c2aa
{
    height: 180px;
    width: 290px;
    background-color: #0c0b39;
    margin-left: 620px;
    margin-top: 40px;
    
    
    
}
.c2ab
{
    height: 180px;
    width: 290px;
    background-color: #0c0b39;
    margin-left: 620px;
    margin-top: 20px;

}
.c2ac
{
    height: 240px;
    width: 290px;
    background-color: #0c0b39;
    margin-left: 620px;
    margin-top: 20px;
    
}
.c2img
{
    height: 80px;
    width: 80px;
    background-color: #e38b00;
    
}
.c2img
{
    margin-top: 50px;
    height: 25%;
    width: 16%;
    margin-left: 265px;
    border: 15px solid #e38b00;
}
.c2img2
{
    margin-top: 70px;
    height: 20%;
    width: 16%;
    margin-left: 265px;
    border: 15px solid #e38b00;
}
.c2bh
{
    color: #0c0b39;
    margin-left: 10px
}











 